<table class="striped">
  <thead>
    <tr>
      <th><%= t('titles.sale.index.buyer') %></th>
      <th><%= t('titles.sale.index.description') %></th>
      <th><%= t('titles.sale.index.unit_price') %></th>
      <th><%= t('titles.sale.index.quantity') %></th>
      <th><%= t('titles.sale.index.supplier') %></th>
      <th><%= t('titles.sale.index.address') %></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
    <tr>
      <td><%= sale.buyer %></td>
      <td><%= sale.description %></td>
      <td><%= sale.unit_price %></td>
      <td><%= sale.quantity %></td>
      <td><%= sale.supplier %></td>
      <td><%= sale.address %></td>
    </tr>
    <% end %>
  </tbody>
</table>