<p class="flow-text center-align">
  <%= t('titles.sales.index') %>
</p>
<p class="right-align">
  <%= link_to new_sale_path do %>
    <i class="material-icons purple-text text-darken-3 right">add</i><%= t('actions.new') %>
  <% end %>
</p>
<div class="col s12 m6">
  <div class="card-panel">
    <div id="sales">
      <%= render 'sales', sales: @sales %>
    </div>
  </div>
</div>

<div id="paginator">
  <%= paginate @sales, remote: true %>
</div>
